<zk>
	<zscript>
		<![CDATA[
		import java.util.Comparator;
		import zkspringjpa.test.services.DemoComparator;
		ListModel cons = new ListModelList();
		Comparator ascN =  new DemoComparator(true,1);
		Comparator descN = new DemoComparator(false,1);
		Comparator ascD = new DemoComparator (true,2);
		Comparator descD = new DemoComparator (false,2);
		Comparator ascId = new DemoComparator(true,3);
		Comparator descId = new DemoComparator(false,3);
		import zkspringjpa.test.entity.Book; Book b = new Book();
		
		]]>
	</zscript>
	<window title="book" border="normal"
	apply="org.zkoss.bind.BindComposer" viewModel="@id('vm') @init('zkspringjpa.test.BookModel')" >
	<hbox>
		Keyword:
		<textbox value="@bind(vm.keyword)"/>
		<button label="Search" onClick="@command('search')"/>
		<separator spacing="30px"/>
		<button label="add" onClick="@command('showAdd',vm=vm, book = b)" />
	</hbox>
	<listbox style="margin-top:10px" model="@load(vm.listBookModel)" selectedItem="@bind(vm.book)"
	mold="paging" pageSize="5">
		<listhead>
			<listheader label="NumNo" />
			<listheader label="id" sortAscending="${ascId}" sortDescending="${descId}" />
			<listheader label="Name" sortAscending="${ascN}"  sortDescending="${descN }" />
			<listheader label="Description" sortAscending="${ascD}" sortDescending="${descD }"/>
			<listheader label="price" />
			<listheader label="delete"/>
			<listheader label="edit"/>
		</listhead>
		<template name="model" status="bookNo">
			<listitem >
				<listcell label="@load(bookNo.index+1)"></listcell>
				<listcell label="@load(each.id)"></listcell>
				<listcell label="@load(each.name)"></listcell>
				<listcell label="@load(each.desciption)"></listcell>
				<listcell label="@load(each.price)" ></listcell>
				<listcell ><button label="delete" onClick="@command('deleteBook',delBook=each)" /></listcell>
				<listcell ><button label="edit" onClick="@command('showAdd', bookz=each, vm = vm)"/></listcell>
			</listitem>
		</template>
	</listbox>
	  <hbox style="margin-top:20px" visible="@bind(not empty vm.book)">
        <vbox>
            <hlayout>
                Name : <label value="@bind(vm.book.name)" style="font-weight:bold"/>
            </hlayout>
            <hlayout>
                Description : <label value="@bind(vm.book.desciption)" style="font-weight:bold"/>
            </hlayout>
            <hlayout>
                Price : 
                <span>$<label value="@bind(vm.book.price)" style="font-weight:bold"/></span>
            </hlayout>
        </vbox>
    </hbox>
    <vbox style="float:right;">
    	<label value="add book"/>
            <hlayout>
                Name : <textbox value="@bind(vm.newBook.name)" style="font-weight:bold"></textbox>
            </hlayout>
            <hlayout>
                Desc : <textbox value="@bind(vm.newBook.desciption)" style="font-weight:bold"></textbox>
            </hlayout>
            <hlayout>
                Price : 
                <textbox value="@bind(vm.newBook.price)" style="font-weight:bold"></textbox>
            </hlayout>
            <hlayout><button label="add" onClick="@command('addBook')"></button></hlayout>
        </vbox>
    
	</window>
</zk>